
{% extends "index.html" %} 
{% load static %} 
{% block content %}



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    

    <!-- Checkout Start -->
    <!-- <h3 style="color: rgb(245, 7, 118);text-align:center">{% for msg in messages %}{{msg}}{% endfor %}</h3>                          -->
    <div class="container-fluid pt-5">

        <div class="row px-xl-5">

            <div class="col-lg-8">


                <!-- <h4>Discount Code</h4>
                <form action="" method="POST" class="coupon-form">
                    {% csrf_token %}
                    <input type="text" name="code" class="site-btn btn-light" placeholder="Enter Your Number"/>
                    <button type="submit" class="site-btn btn-success">Apply</button>
                </form> -->
                <br>
                <div class="mb-4">

                   
                    <h4 class="font-weight-semi-bold mb-4" >Billing Address</h4>
            <form action="{% url 'order' %}" method="POST">
                        {% csrf_token %}

                    <div class="row">
                         
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" name="first_name" placeholder="John" required> 
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text"  name="last_name"  placeholder="Doe" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" value="{{uid.email}}"  name="email" readonly placeholder="example@email.com" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text"  name="phone" placeholder="+123 456 789" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text"  name="address" placeholder="123 Street" required>
                        </div>
                        
                      <div class="col-md-6 form-group">
                            <label  >Country</label>
                            <select class="custom-select" name="country">
                             {% for i,n in ch %}
                                <option name="country">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text"  name="city" placeholder="New York" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text"  name="state" placeholder="New York" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text"  name="zip_code" placeholder="123" required>
                        </div>  
                    </div>
                    
                    <!-- #checkout link -->
 
                    

                    
                    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_uqhoYnBzHjbvGF"
                    data_amount="{{response.amount}}"
                    data-currency="{{response.currency}}"
                    data-order_id="{{response.id}}"
                    data-buttontext="pay with Razorpay" 
                    data-name="{{request.user}}"
                    data-prefill.name="{{request.user.username}}" 
                    data-prefill.email="{{request.user.email}};"
                    data-theme.color="#F37254"></script>
                    <!-- <input type="hidden" custom="Hidden Element" name="hidden"> -->
                           
                </div>
                             
            </div>

            <div class="col-lg-4">
                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for i in cid %}
                        <div class="d-flex justify-content-between">

                            <p>{{i.name}}</p>
                            <!-- <p>{{i.quantity}}</p> -->
                            <p>{{i.total_price}}</p>

                        </div>      
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal : - </h6>
                            <h6 class="font-weight-medium">&#8377; {{sub_total}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping : - </h6>
                            <h6 class="font-weight-medium">&#8377; 50</h6>
                        </div>
                       

                    </div>

                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5> &#8377;{{total_price}}</h5>
                        </div>
                    </div>
                    
                </div>

                
                        <!-- <h3>Coupon :</h3><br>
                        <ul>
                            {% for i in read %}
                            <div class="alert alert-dark" role="alert">
                                <li>{{i.code}} ::-</li>
                                <li>Discount &#8377; {{i.discount_amount}}</li>
                                <li>Purchase range {{i.min_order_amount}} - {{i.max_order_amount}}</li>
                            </div>
                            {% endfor %}
                            
                        </ul> -->

                <div class="card border-secondary mb-5">
                    
                    <div class="card-footer border-secondary bg-transparent">
                       <a href="{% url 'order' %}">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </a>    
                    </div>
                </div>
                                    
            </form>
            </div>
            
        </div>
    </div>


    <!-- Checkout End -->

    
{% endblock %}








